<div class="container">
    <div class="main container">
        <table class="table table-hover">
            <thead class="table-info">
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Version</th>
                    <th>Cambios</th>
                    <th>Color</th>
                    <th>Km</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light" *ngFor="let c of coches">
                    <td>{{c.modelo.marca.name}}</td>
                    <td>{{c.modelo.name}}</td>
                    <td>{{c.version}}</td>
                    <td *ngIf="!c.cambios">Automatico</td>
                    <td *ngIf="c.cambios">Estandar</td>
                    <td>{{c.color}}</td>
                    <td>{{c.km}}</td>
                </tr>
            </tbody>
        </table>
        <div class="container" style="margin-left: 20rem;">
            <tbody class="mt-2 ml-4" *ngIf="coches.length == 0">
                <div class="alert alert-warning" role="alert">
                    !Upss¡ No se encontrarón coincidencias.
                </div>
            </tbody>
        </div>
    </div>


    <div class="container mt-3" style="width: 55rem;">
        <div class="container">
            <div class="main container">
                <form action="" method="POST">
                    <div class="form-group row">
                        <div class="form-group col-sm-4">
                            <label for="marca">Marca </label>
                            <div class="row ml-1">
                                <select class="form-control" name="marcaElegida" id="marcaElegida"
                                    [(ngModel)]="marcaElegida" (change)="onChange()">
                                    <option [ngValue]="null" selected>Seleccione</option>
                                    <option [ngValue]="m" *ngFor="let m of marcas">{{m.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="modelo">Modelo </label>
                            <div class="row ml-1">
                                <select *ngIf="!marcaElegida" class="form-control" name="modelo" id="modelo" disabled>
                                    <option [ngValue]="''" selected>Seleccione</option>
                                </select>
                                <select *ngIf="marcaElegida" class="form-control" name="modelo" id="modelo"
                                    [(ngModel)]="busqueda.modelo" (change)="getCoches()">
                                    <option [ngValue]="''" selected>Seleccione</option>
                                    <option [ngValue]="m.name" *ngFor="let m of marcaElegida.modelo">{{m.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="version">Versión </label>
                            <div class="row ml-1">
                                <div class="input-group">
                                    <button class="btn btn-outline-danger col-sm-2" (click)="limpiarVersion()"
                                        [disabled]="!busqueda.version"><i class="fa fa-eraser"></i></button>
                                    <input type="text" class="form-control col-sm-8" id="version"
                                        [(ngModel)]="busqueda.version" [ngModelOptions]="{standalone: true}">
                                    <button class="btn btn-outline-success col-sm-2" (click)="getCoches()"
                                        [disabled]="!busqueda.version"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-6">
                            <div>
                                <label for="">Cambios</label>
                            </div>
                            <label class="radio-inline" for="cambios">
                                <input type="radio" name="cambio" id="cambio" checked [value]="''"
                                    [(ngModel)]="busqueda.cambios" (change)="getCoches()"> Todos
                            </label>
                            &nbsp;
                            <label class="radio-inline" for="cambios">
                                <input type="radio" name="cambio" id="cambio" [value]="true"
                                    [(ngModel)]="busqueda.cambios" (change)="getCoches()"> Estandar
                            </label>
                            &nbsp;
                            <label class="radio-inline" for="cambios">
                                <input type="radio" name="cambio" id="cambio" [value]="false"
                                    [(ngModel)]="busqueda.cambios" (change)="getCoches()"> Automatico
                            </label>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="color">Color </label>
                            <select class="form-control" id="color" [(ngModel)]="busqueda.color"
                                [ngModelOptions]="{standalone: true}" (change)="getCoches()">
                                <option value="" selected>Seleccione</option>
                                <option value="BLANCO">BLANCO</option>
                                <option value="AZUL">AZUL</option>
                                <option value="AMARILLO">AMARILLO</option>
                                <option value="NEGRO">NEGRO</option>
                                <option value="GRIS">GRIS</option>
                                <option value="ROJO">ROJO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-6">
                            <label for="kmdesde">Kilometros desde </label>
                            <div class="row ml-1">
                                <button class="btn btn-outline-danger col-sm-2" (click)="limpiarkmDesde()"
                                    [disabled]="!busqueda.kmDesde"><i class="fa fa-eraser"></i></button>
                                <input type="number" class="form-control col-sm-8" id="kmdesde"
                                    [(ngModel)]="busqueda.kmDesde" [ngModelOptions]="{standalone: true}">
                                <button class="btn btn-outline-success col-sm-2" (click)="getCoches()"
                                    [disabled]="!busqueda.kmDesde"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="kmhasta">Kilometros hasta </label>
                            <div class="row ml-1">
                                <button class="btn btn-outline-danger col-sm-2" (click)="limpiarkmHasta()"
                                    [disabled]="!busqueda.kmHasta"><i class="fa fa-eraser"></i></button>
                                <input type="number" class="form-control col-sm-8" id="kmhasta"
                                    [(ngModel)]="busqueda.kmHasta" [ngModelOptions]="{standalone: true}">
                                <button class="btn btn-outline-success col-sm-2" (click)="getCoches()"
                                    [disabled]="!busqueda.kmHasta"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="center" style="display: flex; align-items: center; justify-content: center;">
                        <button class="btn btn-primary btn-sm" style="width: 50%; font-size: 25px;" (click)="resetAll()" >Reset all fields</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>